:root {
    /* Font family */
    font-family: "Barlow Semi Condensed", sans-serif;

    /* Font sizes */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fs-6xl: 3.75rem;

    /* Font weights */
    --fw-m: 500;
    --fw-sb: 600;

    /* COLORS */
    /* Primary */
    --clr-primary-moderate-violate: hsl(263, 55%, 52%);
    --clr-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-primary-white: hsl(0, 0%, 100%);
    /* Neutral */
    --clr-neutral-light-gray: hsl(0, 0%, 81%);
    --clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);
}

/* General */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

html {
    font-family: var(--ff-sans);
    font-size: 13px;
    font-weight: var(--fw-m);
    line-height: 1.3;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

body {
    background-color: var(--clr-neutral-light-grayish-blue);
}

.testimonials-container {
    width: 85%;
    max-width: 1300px;
    margin-inline: auto;
    padding-block: 5rem;
    display: grid;
    gap: 1.5rem;
}

.testimonials-container>div:nth-child(1) {
    --primary-color: 263, 55%, 52%;
    --secondary-color: 0, 0%, 100%;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 20%;
}

.testimonials-container>div:nth-child(2) {
    --primary-color: 217, 19%, 35%;
    --secondary-color: 0, 0%, 100%;
}

.testimonials-container>div:nth-child(3) {
    --secondary-color: 217, 19%, 35%;
    --primary-color: 0, 0%, 100%;
}

.testimonials-container>div:nth-child(4) {
    --primary-color: 219, 29%, 14%;
    --secondary-color: 0, 0%, 100%;
}

.testimonials-container>div:nth-child(5) {
    --secondary-color: 217, 19%, 35%;
    --primary-color: 0, 0%, 100%;
}

.testimony-container {
    border-radius: 10px;
    padding: 1.5rem 2.3rem 2.3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: hsl(var(--primary-color));
    color: hsl(var(--secondary-color));
    box-shadow: 20px 20px 10px 0 hsl(0, 0%, 81%, .2);
}

.person-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    line-height: 1.2;
}

.person-info>img {
    border-radius: 50%;
    width: 30px;
    object-fit: contain;
}

.person-info>div {
    display: flex;
    flex-direction: column;
}

.review-overview {
    font-size: var(--fs-2xl);
    font-weight: var(--fw-sb);
}

.verified-graduate-text {
    color: hsl(var(--secondary-color), .5);
}

.review-description {
    color: hsl(var(--secondary-color), .7);
    line-height: 1.4;
}


@media screen and (min-width: 48em) {
    main {
        min-height: 100vh;
        display: grid;
        place-content: center;
    }

    .testimonials-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonials-container>div:nth-child(1) {
        grid-column: 1 / 3;
    }

    .testimonials-container>div:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .testimonials-container>div:nth-child(4) {
        grid-column: 2 / 4;
    }

    .testimonials-container>div:nth-child(5) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}